header{
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    
}
header h1{
    font-family: Arial;
    font-size: 50px;
    font-weight: bolder;
}
 header a{
     display: block;
     margin: 5px auto;
     padding: 10px 10px;
     width: 100px;
     font-family: Arial;
     background-color: coral;
     font-size: 20px;
     color: white;
     border-radius: 6px;
     text-decoration: none;
}
/*与上面对应*/
  header a:hover{
      background-color:rgb(90, 59, 119);
  }
  header p{
      font-size: 30px;
      font-family: Arial;
      margin: 10px auto;
  }

  #grid-container{
      height: 460px;
      width: 460px;
      padding: 20px 20px;
      margin: 50px auto;
      background-color: rgb(130, 193, 196);
      border-radius: 10px;
      position: relative;
  }
 .grid-cell{
     height: 100px;
     width: 100px;
     background-color: rgb(57, 94, 143);
     border-radius: 6px;
     position: absolute;
 }
 .numberCell{
    /* height: 100px;
    width: 100px; */
   font-weight: bold;
   font-family: Arial;
   line-height: 100px;
   position: absolute;
   border-radius: 6px;
   /*添加*/
   font-size: 50px;
   text-align: center;
 }